<template>
  <div class="footer">
    <div class="txt">
      <p>Rejoignez <span class="brand">Emirates | The list</span></p>
      <p>Vols + hotels négociés jusqu'à -70%</p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '../assets/styles/main';

  .footer {
    background: $grey;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .txt {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: uppercase;
    color: white;

    &:after {
      content: " ";
      display: block;
      height: 2px;
      background: $red;
      width: 15%;
      margin: 2vh auto;
    }

    .brand {
      font-weight: bold;
    }
  }
</style>
