<template>
  <div class="header">
    <h2>Découvrez les offres du moment</h2>
    <h3>Vol + hôtel jusqu'à -70%</h3>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/styles/main';

  .header {
    margin: 1vh 0;
    line-height: 2em;

    &:after {
      content: " ";
      display: block;
      height: 2px;
      background: $grey;
      width: 15%;
      margin: 2vh auto;
    }
  }
  h2 {
    color: $red;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
  }
  h3 {
    color: $grey;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
</style>
