<template>
  <div class="main">
    <Select
      @updateFilter="updateFilter"
      :filter="filter"
      :options="optionsSelect"
      :placeholder="placeholder"
    ></Select>
    <div class="slider-container">
      <Slider v-for="item in destination"
        :filter="filter"
        :key="item.id"
        :country="item.country"
        :place="item.place"
        :label="item.label"
        :rating="item.rating"
        :upto="item.upto"
        :redirect="item.redirect"
        :tags="item.tags"
        :link="item.link"
        :imgs="item.imgs"
      ></Slider>
    </div>
    <div class="how">
      <p>Comment bénéfichier de l'offre ?</p>
      <p class="reduc">150€ de réduction* dès 1000€ d'achat</p>
    </div>
    <Member />
  </div>
</template>

<script>
import destination from '../assets/datas/destinations.json'
import Slider from './Slider'
import Member from './Member'
import Select from './Select'

export default {
  data: function () {
    return {
      destination,
      optionsSelect: [],
      filter: [],
      placeholder: 'Destinations'
    }
  },
  components: {
    Slider,
    Member,
    Select
  },
  methods: {
    updateFilter: function (value) {
      this.filter = value

      this.placeholder = (this.filter.length === 0) ? 'Destinations' : this.filter.join(', ')
    }
  },
  mounted: function () {
    let Vm = this

    // eslint-disable-next-line
    Array.prototype.inArray = function (compare) {
      for (var i = 0; i < this.length; i++) {
        if (compare(this[i])) return true
      }
      return false
    }
    // eslint-disable-next-line
    Array.prototype.pushIfNotExist = function (element, compare) {
      if (!this.inArray(compare)) {
        this.push(element)
      }
    }

    destination.map(function (destination, i) {
      Vm.optionsSelect.pushIfNotExist(destination.country, function (e) {
        return destination.country === e
      })
    })
  }
}
</script>

<style lang="scss">
  @import '../assets/styles/main';

  .main {
    margin: 1vh 3vw;
  }

  .slider-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .how {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: uppercase;

    @media (min-width: $breakpoint-desktop) {
      margin: 10vh 0;
    }

    &:after {
      content: " ";
      display: block;
      height: 2px;
      background: $grey;
      width: 15%;
      margin: 2vh auto;
    }

    .reduc {
      font-weight: bold;
    }
  }
</style>
