<template>
  <div class="member">
    <div class="header">
      <p class="deja">Déja membre ?</p>
      <p>Votre code promo vous attend directement sur le site en <a href="">cliquant ici</a></p>
    </div>
    <div class="content">
      <div class="item">
        <p class="number">1</p>
        <div class="txt">
          <p>Rejoignez</p>
          <p class="red">Emirates | the list</p>
        </div>
      </div>
      <div class="item">
        <p class="number">2</p>
        <div class="txt">
          <p>Recevez par email</p>
          <p class="red">Votre bon de 150€ offert</p>
          <p>à utiliser dès 1000€ d'achat</p>
        </div>
      </div>
      <div class="item">
        <p class="number">3</p>
        <div class="txt">
          <p>Réservez votre séjour</p>
          <p class="red">avant le 30 avril 2019</p>
        </div>
      </div>
    </div>
    <p class="link-container"><a class="link" href="">Je m'inscris</a></p>
  </div>
</template>

<style lang="scss" scoped>
  @import '../assets/styles/main';

  .member {
    margin: 2vh 0;
  }

  .header {
    background: $red;
    color: white;
    text-align: center;
    padding: 1vh;

    p {
      font-size: 1.2rem;
      line-height: 1.5em;

      a {
        font-weight: bold;
        text-decoration: underline;
      }

       &.deja {
         font-weight: bold;
         font-size: 1.6rem;
       }
    }
  }

  .content {
    margin: 2vh 0;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-desktop) {
      flex-direction: row;
      margin: 10vh 0;
    }

    .item {
      display: flex;
      align-items: center;
      width: 80%;
      margin: 2vh auto;

      @media (min-width: $breakpoint-desktop) {
        width: auto;
      }
    }

    .number {
      font-size: 5rem;
      font-weight: bold;
      color: $red;
      width: 20%;
    }

    .txt {
      width: 80%;
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 300;

      .red {
        color: $red;
        font-weight: bold;
      }
    }
  }

  .link-container {
    text-align: center;
  }

  .link {
    display: block;
    width: 70%;
    background: $red;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    padding: 10px;

    @media (min-width: $breakpoint-desktop) {
      display: inline-block;
      width: auto;
      padding: 10px 50px;
      margin: auto;
    }
  }

</style>
