<template>
  <div class="select" ref="select">
    <p class="placeholder" @click="appear = !appear">{{ placeholder }} <i class="icon-down"></i></p>
    <transition name="fade">
      <div class="appear" v-if="appear">
        <div class="option" v-for="option in options" :key="option.value">
          <label :for="option">{{ option }}</label>
          <input type="checkbox" :name="option" :id="option" :value="option" v-model="checked" v-on:change="updateChecked()">
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      checked: [],
      appear: false
    }
  },
  props: {
    filter: Array,
    placeholder: String,
    options: Array
  },
  methods: {
    updateChecked: function () {
      let Vm = this
      setTimeout(function () {
        Vm.$emit('updateFilter', Vm.checked)
      }, 100)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../assets/styles/main';

  .select {
    &.active {
      .placeholder {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }

  .placeholder {
    background: white;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: $grey;
    text-transform: uppercase;
    border: 1px solid $grey;
    padding-left: 10px;
    padding: 10px;

    @media (min-width: $breakpoint-desktop) {
      width: 40%;
    }

    i {
      color: $red;
    }
  }

  .appear {
    background: white;
    width: 80%;
    margin: auto;
    padding: 0 10px;
    animation: all ease .3s;
    overflow: hidden;
    border: 1px solid $grey;
    border-top: none;

    @media (min-width: $breakpoint-desktop) {
      width: 40%;
    }
  }

  .option {
    padding: 5px;
    font-size: 1.2rem;
    line-height: 2em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;

    &:hover {
      background: $lightgrey;
    }
  }
</style>
