<template>
  <transition name="fade">
    <div class="slider" v-if="filter.length === 0 || filter.includes(country)">
      <div class="carousel">
        <div ref="imgs" class="imgs">
          <VueAgile ref="carousel" :options="slideOtptions">
            <div class="slide" v-for="img in imgs" :key="img.index">
              <img class="item" ref="image" :src="`img/${img}`" alt="">
            </div>
          </VueAgile>
          <div class="controls">
            <i @click="$refs.carousel.goToPrev()" class="arrow prev icon-left"></i>
            <i @click="$refs.carousel.goToNext()" class="arrow next icon-right"></i>
          </div>
          <p class="promo">{{upto}}</p>
        </div>
      </div>
      <div class="info">
        <div class="txt">
          <p class="destination"><span>{{country}} -</span> {{place}}</p>
          <p class="rating">{{label}} <span v-for="i in rating" :key="i"><i class="icon-star"></i></span></p>
          <p class="tags"><span v-for="tag in tags" :class="tag.classname" :key="tag.index">{{tag.label}}</span></p>
        </div>
        <a :href="link" class="link"><i class="icon-right"></i></a>
      </div>
    </div>
  </transition>
</template>

<script>
import { VueAgile } from 'vue-agile'

export default {
  data: function () {
    return {
      position: 1,
      slideOtptions: {
        dots: false,
        navButtons: false
      }
    }
  },
  components: {
    VueAgile
  },
  props: {
    filter: Array,
    country: String,
    place: String,
    label: String,
    rating: Number,
    upto: String,
    redirect: String,
    tags: Array,
    link: String,
    imgs: Array
  }
}
</script>

<style lang="scss" scoped>
  @import '../assets/styles/main';

  .test {
    display: block;
    width: 100%;
  }

  .slider {
    margin: 3vh 0;
    overflow: hidden;

    @media (min-width: $breakpoint-tablet) {
      margin: 3vh 3vw;
    }
  }

  .item {
    display: block;
    width: 100%;
  }

  .imgs {
    overflow: hidden;
    position: relative;
  }

  .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;

    .arrow {
      font-size: 3.5rem;
      background: white;

      &:hover {
        cursor: pointer;
      }
    }

    .next {
      float: right;
    }
  }

  .promo {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: rgba(black, .5);
    padding: 10px;
  }

  .info {
    display: flex;
    background: white;
    padding: 10px;
    align-items: center;
  }

  .txt {
    width: 90%;
    line-height: 2em;
  }

  .destination {
    font-size: 1.7rem;
    font-weight: 300;

    span {
      font-weight: bold;
    }
  }

  .rating {
    font-size: 1.3rem;
    font-weight: 300;
  }

  .tags {
    span {
      display: inline-block;
      margin-right: 1vw;
      padding: 0 1vw;
      color: white;
      text-transform: uppercase;

      &.premium {
        background: $brown;
      }

      &.option {
        background: black;
      }
    }
  }

  .link {
    background: $red;
    font-size: 3rem;
    color: white;
  }
</style>
