@import './icomoon';

@font-face {
    font-family: 'SevenOneEight';
    src: url('/fonts/SevenOneEight-Light.woff2') format('woff2'),
        url('/fonts/SevenOneEight-Light.woff') format('woff'),
        url('/fonts/SevenOneEight-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SevenOneEight Book';
    src: url('/fonts/SevenOneEight-Book.woff2') format('woff2'),
        url('/fonts/SevenOneEight-Book.woff') format('woff'),
        url('/fonts/SevenOneEight-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SevenOneEight';
    src: url('/fonts/SevenOneEight-Medium.woff2') format('woff2'),
        url('/fonts/SevenOneEight-Medium.woff') format('woff'),
        url('/fonts/SevenOneEight-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SevenOneEight';
    src: url('/fonts/SevenOneEight-ExtraBold.woff2') format('woff2'),
        url('/fonts/SevenOneEight-ExtraBold.woff') format('woff'),
        url('/fonts/SevenOneEight-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SevenOneEight';
    src: url('/fonts/SevenOneEight-Black.woff2') format('woff2'),
        url('/fonts/SevenOneEight-Black.woff') format('woff'),
        url('/fonts/SevenOneEight-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
