@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?2oteiy');
  src:  url('/fonts/icomoon.eot?2oteiy#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?2oteiy') format('truetype'),
    url('/fonts/icomoon.woff?2oteiy') format('woff'),
    url('/fonts/icomoon.svg?2oteiy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e900";
}
.icon-left:before {
  content: "\e901";
}
.icon-right:before {
  content: "\e902";
}
.icon-star:before {
  content: "\e903";
}
