@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import './fonts';
@import './colors';

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

* {
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
  font-family: 'SevenOneEight', sans-serif;
  line-height: 1.618em;
}

body {
  background: $bg;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}